doctype 5
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    script(src='javascripts/angular.min.js')
    script(src='javascripts/bootstrap.min.js')
  body
    block content